<% content_for(:title, t('.title')) %>
<div class="flex justify-center">
  <div class="w-full max-w-md">
    <h2 class="text-2xl font-bold mb-4 text-center"><%= t('.title') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="mb-4">
        <%= f.label :name, class: "block text-sm font-medium" %>
        <%= f.text_field :name, class: "mt-1 block w-full border rounded px-3 py-2 bg-white", placeholder: t('.placeholders.name') %>
      </div>

      <div class="mb-4">
        <%= f.label :email, class: "block text-sm font-medium" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full border rounded px-3 py-2 bg-white", placeholder: t('.placeholders.email') %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "block text-sm font-medium" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full border rounded px-3 py-2 bg-white", placeholder: t('.placeholders.password') %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, class: "block text-sm font-medium" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full border rounded px-3 py-2 bg-white", placeholder: t('.placeholders.password_confirmation') %>
      </div>

      <div class="mb-4 text-center">
        <%= f.submit t('.sign_up'), class: "w-72 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>

    <div class="mb-4 text-center">
      <%= link_to t('page.top'), root_path, class: "mx-auto block w-72 bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded" %>
    </div>
  </div>
</div>
